body{
  background-color:rgb(182, 215, 236);
}
.content {
  float: right;
  margin-top: 15%;
  margin-right: 5%;
}

.blue {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  
}
.pink {
  height: 25px;
  width: 25px;
  background-color: rgb(212, 13, 145);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
.yellow {
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
#button {
  height:40px;
  width: 300px;
  background-color:rgb(87, 173, 226);
  color:white;
  font: bold;
}
#img1 {
  height: 250px;
  weidth: 250px;
  float: left;
  margin-top: 17%;
  margin-left: 25%;
}
